.centerText {
  text-align: center;
  margin: 20px 0;
}

.header {
  font-size: 2em;
  color: #333;
}

.gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameLink {
  text-decoration: none;
  color: inherit;
  margin: 10px;
  text-align: center;
  width: 250px;
}

